
body {
    display: block;
    margin: 8px;
}

.section {
    position: relative;
    margin: 100px 0;
    overflow: hidden;
    background-image: url(background.jpg);
}

.nobg {
    background: none !important;
}



.nomargin {  
    margin: 0px !important;
}


.divcenter {
    position: relative !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 100px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}



.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

form {
    display: block;
    margin-top: 0em;
}

.center {
    text-align: center !important;
}

form .col_full {
    margin-bottom: 25px;
    
}

.col_full {
    clear: both;
    float: none;
    margin-right: 0;
}
.nobottommargin {
    margin-bottom: 0 !important;
}


.mpoublie {
    margin-top: -100px;
    float: right !important;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
}

a {
    text-decoration: none !important;
}

.logo{
    background-color: #3ec7b5;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}

.signin-button{
    margin: 0 auto;
    outline: none;
    border: none;
    cursor: pointer;
    width: 70%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #fff;
    text-align: center;
    background-color: #3ec7b5;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    margin-left: 50px;
    
}

.signin-button:hover{
    background-color: #50e5b9;
}


.link{ 
    padding-top: 30px;
    text-align: center;
}

.link a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

label{
    font-size: 12px;
    font-weight: bold;
}

.dede{
    box-sizing: border-box;
    border: 2px solid #efefef;
    border-radius: 4px;
    background-color: #efefef;
    resize: none;
}

